#G{
    color: skyblue;
}
#o{
    color: rgba(255, 0, 0, 0.836);
}
#o1{
    color: yellow;
}
#g1{
    color: skyblue;
}
#l{
    color: green;
}
#e{
    color: rgba(255, 0, 0, 0.836);
}
.container{
    position: relative;
    margin-left: 350px;
    margin-top: 150px;
    width: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2{
    margin-left: 5px;
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}
input[type='text']{
    width: 65%;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;

}
input[type='text']:hover{
    filter: brightness(0.9);
    
}
button{
    border-radius: 5px;
    border: none;
    color: black;
    padding: 5px;
    cursor: pointer;
}
article{
    position: relative;
    margin-top: 10px;
}
a{
    text-decoration: none;
    margin: 5px;
    color: blue;
    line-height: 40px;
}
footer{
    position: relative;
    background-color: rgba(128, 128, 128, 0.295);
    margin-top: 100px;
    width: 100%;
    height: 150px;
    color: gray;
}
hr{
    background-color: gray;
    color: gray;
    border: 1px solid gray;
}
#footer-link{
    color: gray;
}